In [ ]:
#HOW TO MAKE STRING------------------------------
new_string="my name is khushi"
print(new_string)

my name is aditya

In [3]:
#INPUT FORM USER
name=str(input("enter your name"))
print("hi my name is"" " + name)

hi my name is khushi

In [9]:
#METHODS----------------------
#TO FIND LENGTH
data="aditya pratap singh"
x=len(data)
print(x)

19

In [12]:
# TO MAKE SMALL and CAPITAL
data="aditya pratap singh"
x=data.upper()
x=data.upper()
print(x)

ADITYA PRATAP SINGH

In [13]:
# TO REPLACE SOMETHING
data="aditya pratap singh"
x=data.replace("aditya","adii")
print(x)

adii pratap singh

In [14]:
#TO MAKE LIST
data="aditya pratap singh"
x=data.split()
print(x)

['aditya', 'pratap', 'singh']

In [17]:
data="aditya pratap singh"
x=data.capitalize()
print(x)

Aditya pratap singh

In [4]:
#make in center
data="school"
x=data.center(150)
print(x)

                                                                        school

In [21]:
data="school"
x=data.endswith("l")
print(x)

True

In [23]:
data="school"
x=data.find("c")
print(x)

1

In [28]:
data="school"
x=data.index("ol")
print(x)

4

In [35]:
data="12 "
x=data.isdigit()
print(x)

False

In [38]:
data="Aditya Pratap Singh"
x=data.istitle()
print(x)

True

In [40]:
data="aditya Pratap Singh"
x=data.count("a")
print(x)

4

In [ ]:
# TO JOIN SOME THING
data="Aditya Pratap Singh"
x=" "