In [2]:
l=[]
for x in range(1,10):
    l.append(x)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
n=[m for m in range(1,11) if m%2!=0]
print(n)

[1, 3, 5, 7, 9]

In [10]:
a='aditya'
m=[y for y in a]
print(m)

['a', 'd', 'i', 't', 'y', 'a']

In [15]:
#square
n=[m**2 for m in range(1,11)]
print(n)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#create a list of tuple
n=[(a,b) for a in range(0,3) for b in range(0,3)]
print(n)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [27]:
x=["pass" if x>=33 else "fail" for x in [56,57,78,33]]
print(x)

['pass', 'pass', 'pass', 'pass']

In [28]:
x="aditya"
n=[i for i in x]
print(n)

['a', 'd', 'i', 't', 'y', 'a']

In [19]:
list=["aditya","pratap","singh"]
n=[i.upper() for i in list]
print(n)

['ADITYA', 'PRATAP', 'SINGH']

In [31]:
list=["aditya","pratap","singh"]
y=[len(x) for x in list]
print(y)

[6, 6, 5]

In [23]:
#if else in list comprehsion
n=["pass" if x>=60 else "fail" for x in [78,86,78,89]]
print(n)

['pass', 'pass', 'pass', 'pass']