In [2]:
import pandas as pd

In [3]:
print("------------------------------------PANDAS--------------------------------------------")

------------------------------------PANDAS--------------------------------------------

In [28]:
#dataframe
import pandas as pd
data={"name":["aditya","pratap","singh"],
      "naam":["aditya","pratap","singh"],
      "nam":["aditya","pratap","singh"]}
df=pd.DataFrame(data)
print(df.head(1))
print(df.tail(1))
print(df)
print(df.isnull())

     name    naam     nam
0  aditya  aditya  aditya
    name   naam    nam
2  singh  singh  singh
     name    naam     nam
0  aditya  aditya  aditya
1  pratap  pratap  pratap
2   singh   singh   singh
    name   naam    nam
0  False  False  False
1  False  False  False
2  False  False  False

In [11]:
print("exploring data in pndas")

exploring data in pndas

In [30]:
import pandas as pd
data=pd.read_csv("movie_metadata.csv")
print(data.head(10))
print(data.tail(10))
print(data.info())
data.describe()
print(data.isnull())

   color      director_name  num_critic_for_reviews  duration  \
0  Color      James Cameron                   723.0     178.0
1  Color     Gore Verbinski                   302.0     169.0
2  Color         Sam Mendes                   602.0     148.0
3  Color  Christopher Nolan                   813.0     164.0
4    NaN        Doug Walker                     NaN       NaN
5  Color     Andrew Stanton                   462.0     132.0
6  Color          Sam Raimi                   392.0     156.0
7  Color       Nathan Greno                   324.0     100.0
8  Color        Joss Whedon                   635.0     141.0
9  Color        David Yates                   375.0     153.0

   director_facebook_likes  actor_3_facebook_likes       actor_2_name  \
0                      0.0                   855.0   Joel David Moore
1                    563.0                  1000.0      Orlando Bloom
2                      0.0                   161.0       Rory Kinnear
3                  22000.0                 23000.0     Christian Bale
4                    131.0                     NaN         Rob Walker
5                    475.0                   530.0    Samantha Morton
6                      0.0                  4000.0       James Franco
7                     15.0                   284.0       Donna Murphy
8                      0.0                 19000.0  Robert Downey Jr.
9                    282.0                 10000.0   Daniel Radcliffe

   actor_1_facebook_likes        gross  \
0                  1000.0  760505847.0
1                 40000.0  309404152.0
2                 11000.0  200074175.0
3                 27000.0  448130642.0
4                   131.0          NaN
5                   640.0   73058679.0
6                 24000.0  336530303.0
7                   799.0  200807262.0
8                 26000.0  458991599.0
9                 25000.0  301956980.0

                                              genres  ...  \
0                    Action|Adventure|Fantasy|Sci-Fi  ...
1                           Action|Adventure|Fantasy  ...
2                          Action|Adventure|Thriller  ...
3                                    Action|Thriller  ...
4                                        Documentary  ...
5                            Action|Adventure|Sci-Fi  ...
6                           Action|Adventure|Romance  ...
7  Adventure|Animation|Comedy|Family|Fantasy|Musi...  ...
8                            Action|Adventure|Sci-Fi  ...
9                   Adventure|Family|Fantasy|Mystery  ...

  num_user_for_reviews language  country  content_rating       budget  \
0               3054.0  English      USA           PG-13  237000000.0
1               1238.0  English      USA           PG-13  300000000.0
2                994.0  English       UK           PG-13  245000000.0
3               2701.0  English      USA           PG-13  250000000.0
4                  NaN      NaN      NaN             NaN          NaN
5                738.0  English      USA           PG-13  263700000.0
6               1902.0  English      USA           PG-13  258000000.0
7                387.0  English      USA              PG  260000000.0
8               1117.0  English      USA           PG-13  250000000.0
9                973.0  English       UK              PG  250000000.0

   title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0      2009.0                  936.0        7.9          1.78
1      2007.0                 5000.0        7.1          2.35
2      2015.0                  393.0        6.8          2.35
3      2012.0                23000.0        8.5          2.35
4         NaN                   12.0        7.1           NaN
5      2012.0                  632.0        6.6          2.35
6      2007.0                11000.0        6.2          2.35
7      2010.0                  553.0        7.8          1.85
8      2015.0                21000.0        7.5          2.35
9      2009.0                11000.0        7.5          2.35

  movie_facebook_likes
0                33000
1                    0
2                85000
3               164000
4                    0
5                24000
6                    0
7                29000
8               118000
9                10000

[10 rows x 28 columns]
      color     director_name  num_critic_for_reviews  duration  \
5033  Color     Shane Carruth                   143.0      77.0
5034  Color  Neill Dela Llana                    35.0      80.0
5035  Color  Robert Rodriguez                    56.0      81.0
5036  Color   Anthony Vallone                     NaN      84.0
5037  Color      Edward Burns                    14.0      95.0
5038  Color       Scott Smith                     1.0      87.0
5039  Color               NaN                    43.0      43.0
5040  Color  Benjamin Roberds                    13.0      76.0
5041  Color       Daniel Hsia                    14.0     100.0
5042  Color          Jon Gunn                    43.0      90.0

      director_facebook_likes  actor_3_facebook_likes        actor_2_name  \
5033                    291.0                     8.0      David Sullivan
5034                      0.0                     0.0     Edgar Tancangco
5035                      0.0                     6.0     Peter Marquardt
5036                      2.0                     2.0      John Considine
5037                      0.0                   133.0  Caitlin FitzGerald
5038                      2.0                   318.0       Daphne Zuniga
5039                      NaN                   319.0       Valorie Curry
5040                      0.0                     0.0       Maxwell Moody
5041                      0.0                   489.0       Daniel Henney
5042                     16.0                    16.0    Brian Herzlinger

      actor_1_facebook_likes      gross                               genres  \
5033                   291.0   424760.0                Drama|Sci-Fi|Thriller
5034                     0.0    70071.0                             Thriller
5035                   121.0  2040920.0  Action|Crime|Drama|Romance|Thriller
5036                    45.0        NaN                          Crime|Drama
5037                   296.0     4584.0                         Comedy|Drama
5038                   637.0        NaN                         Comedy|Drama
5039                   841.0        NaN         Crime|Drama|Mystery|Thriller
5040                     0.0        NaN                Drama|Horror|Thriller
5041                   946.0    10443.0                 Comedy|Drama|Romance
5042                    86.0    85222.0                          Documentary

      ... num_user_for_reviews language      country  content_rating  budget  \
5033  ...                371.0  English          USA           PG-13  7000.0
5034  ...                 35.0  English  Philippines       Not Rated  7000.0
5035  ...                130.0  Spanish          USA               R  7000.0
5036  ...                  1.0  English          USA           PG-13  3250.0
5037  ...                 14.0  English          USA       Not Rated  9000.0
5038  ...                  6.0  English       Canada             NaN     NaN
5039  ...                359.0  English          USA           TV-14     NaN
5040  ...                  3.0  English          USA             NaN  1400.0
5041  ...                  9.0  English          USA           PG-13     NaN
5042  ...                 84.0  English          USA              PG  1100.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
5033      2004.0                   45.0        7.0          1.85
5034      2005.0                    0.0        6.3           NaN
5035      1992.0                   20.0        6.9          1.37
5036      2005.0                   44.0        7.8           NaN
5037      2011.0                  205.0        6.4           NaN
5038      2013.0                  470.0        7.7           NaN
5039         NaN                  593.0        7.5         16.00
5040      2013.0                    0.0        6.3           NaN
5041      2012.0                  719.0        6.3          2.35
5042      2004.0                   23.0        6.6          1.85

     movie_facebook_likes
5033                19000
5034                   74
5035                    0
5036                    4
5037                  413
5038                   84
5039                32000
5040                   16
5041                  660
5042                  456

[10 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5029 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB
None
      color  director_name  num_critic_for_reviews  duration  \
0     False          False                   False     False
1     False          False                   False     False
2     False          False                   False     False
3     False          False                   False     False
4      True          False                    True      True
...     ...            ...                     ...       ...
5038  False          False                   False     False
5039  False           True                   False     False
5040  False          False                   False     False
5041  False          False                   False     False
5042  False          False                   False     False

      director_facebook_likes  actor_3_facebook_likes  actor_2_name  \
0                       False                   False         False
1                       False                   False         False
2                       False                   False         False
3                       False                   False         False
4                       False                    True         False
...                       ...                     ...           ...
5038                    False                   False         False
5039                     True                   False         False
5040                    False                   False         False
5041                    False                   False         False
5042                    False                   False         False

      actor_1_facebook_likes  gross  genres  ...  num_user_for_reviews  \
0                      False  False   False  ...                 False
1                      False  False   False  ...                 False
2                      False  False   False  ...                 False
3                      False  False   False  ...                 False
4                      False   True   False  ...                  True
...                      ...    ...     ...  ...                   ...
5038                   False   True   False  ...                 False
5039                   False   True   False  ...                 False
5040                   False   True   False  ...                 False
5041                   False  False   False  ...                 False
5042                   False  False   False  ...                 False

      language  country  content_rating  budget  title_year  \
0        False    False           False   False       False
1        False    False           False   False       False
2        False    False           False   False       False
3        False    False           False   False       False
4         True     True            True    True        True
...        ...      ...             ...     ...         ...
5038     False    False            True    True       False
5039     False    False           False    True        True
5040     False    False            True   False       False
5041     False    False           False    True       False
5042     False    False           False   False       False

      actor_2_facebook_likes  imdb_score  aspect_ratio  movie_facebook_likes
0                      False       False         False                 False
1                      False       False         False                 False
2                      False       False         False                 False
3                      False       False         False                 False
4                      False       False          True                 False
...                      ...         ...           ...                   ...
5038                   False       False          True                 False
5039                   False       False         False                 False
5040                   False       False          True                 False
5041                   False       False         False                 False
5042                   False       False         False                 False

[5043 rows x 28 columns]

In [29]:
print("handle duplicate in pandas")

handle duplicate in pandas

In [46]:
import pandas as pd
data=pd.read_csv("movie_metadata.csv")
data.isnull()
data.describe()
print(data.duplicated())
print(data.drop_duplicates("num_critic_for_reviews"))

0       False
1       False
2       False
3       False
4       False
        ...
5038    False
5039    False
5040    False
5041    False
5042    False
Length: 5043, dtype: bool
      color          director_name  num_critic_for_reviews  duration  \
0     Color          James Cameron                   723.0     178.0
1     Color         Gore Verbinski                   302.0     169.0
2     Color             Sam Mendes                   602.0     148.0
3     Color      Christopher Nolan                   813.0     164.0
4       NaN            Doug Walker                     NaN       NaN
...     ...                    ...                     ...       ...
4251  Color  David Robert Mitchell                   533.0     100.0
4356  Color           Daniel Stamm                   311.0      87.0
4361  Color           Benh Zeitlin                   663.0      93.0
4523  Color           Gareth Evans                   481.0     102.0
4793  Color              Oren Peli                   409.0      84.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
0                         0.0                   855.0  Joel David Moore
1                       563.0                  1000.0     Orlando Bloom
2                         0.0                   161.0      Rory Kinnear
3                     22000.0                 23000.0    Christian Bale
4                       131.0                     NaN        Rob Walker
...                       ...                     ...               ...
4251                    421.0                   159.0       Ruby Harris
4356                     13.0                   308.0       Ashley Bell
4361                    188.0                   168.0      Gina Montana
4523                    338.0                    60.0      Yayan Ruhian
4793                    110.0                    21.0     Ashley Palmer

      actor_1_facebook_likes        gross                           genres  \
0                     1000.0  760505847.0  Action|Adventure|Fantasy|Sci-Fi
1                    40000.0  309404152.0         Action|Adventure|Fantasy
2                    11000.0  200074175.0        Action|Adventure|Thriller
3                    27000.0  448130642.0                  Action|Thriller
4                      131.0          NaN                      Documentary
...                      ...          ...                              ...
4251                   314.0   14673301.0                   Horror|Mystery
4356                   463.0   40990055.0            Drama|Horror|Thriller
4361                  2000.0   12784397.0                    Drama|Fantasy
4523                  1000.0    4105123.0            Action|Crime|Thriller
4793                   189.0  107917283.0                           Horror

      ... num_user_for_reviews    language    country  content_rating  \
0     ...               3054.0     English        USA           PG-13
1     ...               1238.0     English        USA           PG-13
2     ...                994.0     English         UK           PG-13
3     ...               2701.0     English        USA           PG-13
4     ...                  NaN         NaN        NaN             NaN
...   ...                  ...         ...        ...             ...
4251  ...                631.0     English        USA               R
4356  ...                300.0     English     France           PG-13
4361  ...                269.0     English        USA           PG-13
4523  ...                316.0  Indonesian  Indonesia               R
4793  ...               1189.0     English        USA               R

           budget  title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
0     237000000.0      2009.0                  936.0        7.9          1.78
1     300000000.0      2007.0                 5000.0        7.1          2.35
2     245000000.0      2015.0                  393.0        6.8          2.35
3     250000000.0      2012.0                23000.0        8.5          2.35
4             NaN         NaN                   12.0        7.1           NaN
...           ...         ...                    ...        ...           ...
4251    2000000.0      2014.0                  189.0        6.9          2.35
4356    1800000.0      2010.0                  400.0        5.6          1.85
4361    1800000.0      2012.0                  458.0        7.3          1.85
4523    1100000.0      2011.0                  342.0        7.6          1.85
4793      15000.0      2007.0                  109.0        6.3          1.85

     movie_facebook_likes
0                   33000
1                       0
2                   85000
3                  164000
4                       0
...                   ...
4251                45000
4356                    0
4361                31000
4523                51000
4793                12000

[529 rows x 28 columns]

In [47]:
print("working with missing data in pandas")

working with missing data in pandas

In [53]:
import pandas as pd
import numpy as np
data=pd.read_csv("Salary Data2.csv")
print(data)
data.describe()
data.isnull().sum()
print(data.replace(np.nan,2))#-------------------------------------------------

   YearsExperience  Salary
0              1.2   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   43525
5              2.9   56642
6              3.0   60150
7              3.2   54445
8              1.2   64445
   YearsExperience  Salary
0              1.2   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   43525
5              2.9   56642
6              3.0   60150
7              3.2   54445
8              1.2   64445

In [55]:
print("cloumn transformation in pandas")

cloumn transformation in pandas

In [60]:
import pandas as pd
data=pd.read_csv("Salary Data2.csv")
print(data)
data["status"]=data["Salary"]>45000
print(data)

   YearsExperience  Salary
0              1.2   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   43525
5              2.9   56642
6              3.0   60150
7              3.2   54445
8              1.2   64445
   YearsExperience  Salary  status
0              1.2   39343   False
1              1.3   46205    True
2              1.5   37731   False
3              2.0   43525   False
4              2.2   43525   False
5              2.9   56642    True
6              3.0   60150    True
7              3.2   54445    True
8              1.2   64445    True

In [61]:
print("good by in pandas")

good by in pandas

In [ ]:
import pandas as pd
data=pd.read_csv("Salary Data2.csv")
gp=data.groupby("")

In [62]:
print("merge ,JOIN AND CONCATENATE in pandas")

merge ,JOIN AND CONCATENATE in pandas

In [78]:
import pandas as pd
data1 ={"Emp Id":["E01", "E02", "E03", "E04", "E05", "E06"],
        "Names":["Ram", "Shyam", "Rahul", "Vishal", "Ravi" ,"John"],
        "Age": [34,56,23,44,32,34]}
data2 = {"Emp Id": ["E01", "E09", "E03", "E08", "E05", "E06"], 
        "Salary": [45000, 56000, 34000, 30000,50000,60000]}
df1= pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print()
print(df2)
print(pd.merge(df1,df2,on="Emp Id",how="left"))#-----------------------------------------------------
print(pd.concat([df1,df2]))
print(pd.merge(df1,df2))

  Emp Id   Names  Age
0    E01     Ram   34
1    E02   Shyam   56
2    E03   Rahul   23
3    E04  Vishal   44
4    E05    Ravi   32
5    E06    John   34

  Emp Id  Salary
0    E01   45000
1    E09   56000
2    E03   34000
3    E08   30000
4    E05   50000
5    E06   60000
  Emp Id   Names  Age   Salary
0    E01     Ram   34  45000.0
1    E02   Shyam   56      NaN
2    E03   Rahul   23  34000.0
3    E04  Vishal   44      NaN
4    E05    Ravi   32  50000.0
5    E06    John   34  60000.0
  Emp Id   Names   Age   Salary
0    E01     Ram  34.0      NaN
1    E02   Shyam  56.0      NaN
2    E03   Rahul  23.0      NaN
3    E04  Vishal  44.0      NaN
4    E05    Ravi  32.0      NaN
5    E06    John  34.0      NaN
0    E01     NaN   NaN  45000.0
1    E09     NaN   NaN  56000.0
2    E03     NaN   NaN  34000.0
3    E08     NaN   NaN  30000.0
4    E05     NaN   NaN  50000.0
5    E06     NaN   NaN  60000.0
  Emp Id  Names  Age  Salary
0    E01    Ram   34   45000
1    E03  Rahul   23   34000
2    E05   Ravi   32   50000
3    E06   John   34   60000

In [79]:
print("compare dataframe")

compare dataframe

In [91]:
import pandas as pd
data1 = {"Fruits": ["mango", "apples", "banana", "papaya"],
        "Price": [100,150,50,35],
        "Quantity":[15,10,10,3]}
df1=pd.DataFrame(data1)
data2 = {"Fruits": ["mango", "apples", "banana", "papaya"],
        "Price": [120,175,50,30],
        "Quantity":[12,15,10,5]}
df2=pd.DataFrame(data2)
print(df1)
print(df2)
print(df1.compare(df2,align_axis=0))
print(df1.compare(df2,keep_equal=True))

   Fruits  Price  Quantity
0   mango    100        15
1  apples    150        10
2  banana     50        10
3  papaya     35         3
   Fruits  Price  Quantity
0   mango    120        12
1  apples    175        15
2  banana     50        10
3  papaya     30         5
         Price  Quantity
0 self   100.0      15.0
  other  120.0      12.0
1 self   150.0      10.0
  other  175.0      15.0
3 self    35.0       3.0
  other   30.0       5.0
  Price       Quantity
   self other     self other
0   100   120       15    12
1   150   175       10    15
3    35    30        3     5

In [92]:
print("pivoting and melting dataframes")

pivoting and melting dataframes